<div class="col s12 m8 l4 flexItem">
  <table class="address">
    <tbody>
      <tr>
        <td class="strong">Phone:</td>
        <td>{{ person.phone }}</td>
      </tr>
      <tr>
        <td class="strong">Address:</td>
        <td>{{ address }}</td>
      </tr>
      <tr>
        <td class="strong"></td>
        <td>{{ cityStateZip }}</td>
      </tr>
      <tr>
        <td class="strong">Website:</td>
        <td>{{ person.url }}</td>
      </tr>
    </tbody>
  </table>
</div>
