//$font-stack: Gotham,cursive;

$ussaBlue: #0F1D41;
$ussaLightBlue: #1B284A;
$ussaRed: #da262e;
$ussaWhite: #fff;
$ussaGrey: #666;
$ussaBackground: #FFF;
$ussaGreen: #00BF5F;
$ussaOffWhite: #F3F3F3;
$ussaYellow: #FFF3B6;
$ussaOrange: orange;


$primary-color: $ussaBlue;
$secondary-color: #3568e8;
$error-color: $ussaRed;
$success-color: #224294;

/*$sidenav-width: 300px !default;
$sidenav-font-size: 14px !default;*/
$sidenav-font-color: $ussaBlue;
$sidenav-bg-color: $ussaWhite;
/*$sidenav-padding: 16px !default;
$sidenav-item-height: 48px !default;
$sidenav-line-height: $sidenav-item-height !default;*/

$input-border-color: $ussaBlue;


$dropdown-color: $ussaBlue;
