<div class="row points">
	<div class="col s12">
		<h4 class="center-align">
			<img class="logo" src="/images/logo.png" alt="U.S. Ski and Snowboard logo">
			U.S. Ski and Snowboard Coding Test
		</h4>
	</div>
	<div class="col s12">
		<h6 class="center">Place people here.</h6>
	</div>
</div>
