<div class="row points">
	<div class="col s12">
		<h4 class="center-align">
			<img class="logo" src="/images/logo.png"/>
			U.S. Ski and Snowboard Coding Test
		</h4>
	</div>
	<div class="col s12">
		{{points-graph}}
	</div>
</div>
